#include <windows.h>
#include "resource.h"

LANGUAGE 0,0

100 ICON DISCARDABLE "ico.ico"

STRINGTABLE DISCARDABLE
BEGIN
  IDS_HELLO "Hello World!"
  IDS_GOODBYE "Goodbye World!"
  IDS_AUTHOR "igorkov / Kovalenko Igor"
  IDS_INFO "Main utility to work with Laser Device"
  IDS_COPYRIGHT "igorkov / Kovalenko Igor / Russia Federation / 2013-2014"
  IDS_CONTACTS1 "Kovalenko Igor"
  IDS_CONTACTS2 "Moscow"
  IDS_CONTACTS3 "Russia Federation"
  IDS_CONTACTS4 "fsp@igorkov.org"
  IDS_CONTACTS5 "vk.com/igorkov"
END

IDD_DLG1 DIALOGEX 0,0,217,286
CAPTION "Config Edit"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW
BEGIN
  CONTROL "Save Config",IDC_BTN_SAVE_CONFIG,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,80,195,60,15
  CONTROL "Exit",IDC_BTN_EXIT,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,160,205,50,15
  CONTROL "Load Config",IDC_BTN_LOAD_CONFIG,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,15,195,60,15
  CONTROL "Load Config File",IDC_BTN_LOAD_FILE,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,15,215,60,15
  CONTROL "Save Config File",IDC_BTN_SAVE_FILE,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,80,215,60,15
  CONTROL "Calibration",IDC_BTN_CALIBRATE,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,80,235,60,15
  CONTROL "Accel.x Koeff",IDC_STC1,"Static",WS_CHILD|WS_VISIBLE,3,45+3,48,9
  CONTROL "Accel.y Koeff",IDC_STC2,"Static",WS_CHILD|WS_VISIBLE,3,60+3,48,9
  CONTROL "Accel.z Koeff",IDC_STC3,"Static",WS_CHILD|WS_VISIBLE,3,75+3,48,9
  CONTROL "0.0",IDC_EDT_ACC_KX,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,51,45,54,15,WS_EX_CLIENTEDGE
  CONTROL "0.0",IDC_EDT_ACC_KY,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,51,60,54,15,WS_EX_CLIENTEDGE
  CONTROL "0.0",IDC_EDT_ACC_KZ,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,51,75,54,15,WS_EX_CLIENTEDGE
  CONTROL "Accel.x Offset",IDC_STC4,"Static",WS_CHILD|WS_VISIBLE,111,45+3,45,9
  CONTROL "Accel.y Offset",IDC_STC5,"Static",WS_CHILD|WS_VISIBLE,111,60+3,45,9
  CONTROL "Accel.z Offset",IDC_STC6,"Static",WS_CHILD|WS_VISIBLE,111,75+3,45,9
  CONTROL "0.0",IDC_EDT_ACC_OX,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,159,45,54,15,WS_EX_CLIENTEDGE
  CONTROL "0.0",IDC_EDT_ACC_OY,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,159,60,54,15,WS_EX_CLIENTEDGE
  CONTROL "0.0",IDC_EDT_ACC_OZ,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,159,75,54,15,WS_EX_CLIENTEDGE
  CONTROL "Mag.x Koeff",IDC_STC1,"Static",WS_CHILD|WS_VISIBLE,3, 95+3,48,9
  CONTROL "Mag.y Koeff",IDC_STC2,"Static",WS_CHILD|WS_VISIBLE,3,110+3,48,9
  CONTROL "Mag.z Koeff",IDC_STC3,"Static",WS_CHILD|WS_VISIBLE,3,125+3,48,9
  CONTROL "0.0",IDC_EDT_MAG_KX,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,51,95,54,15,WS_EX_CLIENTEDGE
  CONTROL "0.0",IDC_EDT_MAG_KY,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,51,110,54,15,WS_EX_CLIENTEDGE
  CONTROL "0.0",IDC_EDT_MAG_KZ,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,51,125,54,15,WS_EX_CLIENTEDGE
  CONTROL "Mag.x Offset",IDC_STC4,"Static",WS_CHILD|WS_VISIBLE,111, 95+3,45,9
  CONTROL "Mag.y Offset",IDC_STC5,"Static",WS_CHILD|WS_VISIBLE,111,110+3,45,9
  CONTROL "Mag.z Offset",IDC_STC6,"Static",WS_CHILD|WS_VISIBLE,111,125+3,45,9
  CONTROL "0.0",IDC_EDT_MAG_OX,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,159,95,54,15,WS_EX_CLIENTEDGE
  CONTROL "0.0",IDC_EDT_MAG_OY,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,159,110,54,15,WS_EX_CLIENTEDGE
  CONTROL "0.0",IDC_EDT_MAG_OZ,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,159,125,54,15,WS_EX_CLIENTEDGE
  CONTROL "Accel Mesh",IDC_STC7,"Static",WS_CHILD|WS_VISIBLE,6,150+3,42,9
  CONTROL "Mag Mesh",IDC_STC8,"Static",WS_CHILD|WS_VISIBLE,6,165+3,42,9
  CONTROL "1",IDC_EDT_ACC_MESHX,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,48,150,18,15,WS_EX_CLIENTEDGE
  CONTROL "2",IDC_EDT_ACC_MESHY,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,69,150,18,15,WS_EX_CLIENTEDGE
  CONTROL "3",IDC_EDT_ACC_MESHZ,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,90,150,18,15,WS_EX_CLIENTEDGE
  CONTROL "1",IDC_EDT_MAG_MESHX,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,48,165,18,15,WS_EX_CLIENTEDGE
  CONTROL "2",IDC_EDT_MAG_MESHY,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,69,165,18,15,WS_EX_CLIENTEDGE
  CONTROL "3",IDC_EDT_MAG_MESHZ,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,90,165,18,15,WS_EX_CLIENTEDGE
  CONTROL "X",IDC_STC9,"Static",WS_CHILD|WS_VISIBLE,54,141,9,9
  CONTROL "Y",IDC_STC10,"Static",WS_CHILD|WS_VISIBLE,75,141,9,9
  CONTROL "Z",IDC_STC11,"Static",WS_CHILD|WS_VISIBLE,96,141,9,9
  CONTROL "Mag. declination:",IDC_STC12,"Static",WS_CHILD|WS_VISIBLE,114,165+3,54,9
  CONTROL "Tilt Correct:",IDC_STC13,"Static",WS_CHILD|WS_VISIBLE,132,150+3,36,9
  CONTROL "0.0",IDC_EDT_MAG_DECL,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,171,165,30,15,WS_EX_CLIENTEDGE
  CONTROL "0.0",IDC_EDT_TILT_COMP,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,171,150,30,15,WS_EX_CLIENTEDGE
  CONTROL "Conf. version:",IDC_STC15,"Static",WS_CHILD|WS_VISIBLE,3,9,48,9
  CONTROL "HW version:",IDC_STC16,"Static",WS_CHILD|WS_VISIBLE,3,24,42,10
  CONTROL "",IDC_EDT_CNFVER,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,51,6,54,15,WS_EX_CLIENTEDGE
  CONTROL "",IDC_EDT_HWVER,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,51,21,54,15,WS_EX_CLIENTEDGE
  CONTROL "Serial Number:",IDC_STC17,"Static",WS_CHILD|WS_VISIBLE,111,9,48,9
  CONTROL "Memory size:",IDC_STC18,"Static",WS_CHILD|WS_VISIBLE,111,24,45,9
  CONTROL "",IDC_EDT_SN,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,159,6,54,15,WS_EX_CLIENTEDGE
  CONTROL "",IDC_EDT_MEMSIZE,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,159,21,21,15,WS_EX_CLIENTEDGE
END

